{% extends "base.html"%}
{%block content%}

</nav>
<h2>Log In</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Log In</button>
</form>



{% if user.is_authenticated %}
<li>
    <a href="{% url 'logout' %}">Logout</a>
</li>
{% endif %}



{% if user.is_staff %}
<li>
    <a href="{% url 'admin:index' %}">Admin</a>
</li>
{% endif %}







{%endblock content%}